@model IEnumerable<ToDoList.Models.Todo>

@{
    ViewData["Title"] = "Список задач";
}

<h2>Список задач</h2>

<a href="@Url.Action("Create", "Todo")" class="btn btn-success mb-3">Додати задачу</a>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="incomplete-tab" data-bs-toggle="tab" href="#incomplete" role="tab" aria-controls="incomplete" aria-selected="true">Незавершені задачі</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="complete-tab" data-bs-toggle="tab" href="#complete" role="tab" aria-controls="complete" aria-selected="false">Завершені задачі</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="incomplete" role="tabpanel" aria-labelledby="incomplete-tab">
        @await Html.PartialAsync("_TodoTable", Model.Where(t => !t.IsCompleted))
    </div>

    <div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="complete-tab">
        @await Html.PartialAsync("_TodoTable", Model.Where(t => t.IsCompleted))
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
